p {
    font-family: Arial;
  }
  .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: -3%;
  }

  .stats {
  font-size: 14px;
  color: rgb(98, 98, 98);
  margin-top: 3.4%;

  }

  .author {
    color: rgb(98, 98, 98);
    font-size: 14px;
    margin-top: 3%;
    margin-bottom: 1%;
  }

  .description {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 1%;
    border-radius: 10px;
    color: rgb(98, 98, 98);
    margin-top: 5%;
    margin-bottom: 7%;
    width: 500px;
    line-height: 20px;
  }

  .advertisement {
    text-align: center;
    width: normal;
    margin-bottom: 10%;
    font-size: 14px;
    background-color: black;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .bye {
    color: rgb(214, 214, 101);
    text-decoration: none;
  }

  .bye:hover {
    text-decoration: underline;
    cursor: pointer;
  }